$pry-font-size: 14px;
$logo-text: 30px;
$link-text: 18px;
$educate-text: 72px;
$top-paragraph: 24px;
$getit: 15px;
$app-text: 28px;
$review-head: 32px;
$review-parag: 20px;
$category-text: 18px;
$school-text: 8px;
$review-text: 7.36px;
$line-height: 39px;
$learning-text: 16px;