$mainbg-clr: #e5e5e5;
$realmain-bg: #fffbf0;
$logo-clr: #332700;
$linklegacy-clr: #8a6a00;
$link-signuptext-clr: #332700;
$link-signupbg-clr: #ffcc54;
$edu-text: #de6101;
$isthe: #332700;
$topabs-text: #332700;
$app-bg: rgba(0, 0, 0, 0.85);
$learning-small: rgba(0, 0, 0, 0.7);
$app-clr: rgba(255, 255, 255, 0.75);
$cardfuta-bg: rgba(255, 208, 84, 0.85);
$cardui-bg: rgba(14, 2, 92, 0.75);
$cardfunab-bg: rgba(12, 112, 3, 0.75);
$futa-clr:  rgba(51, 39, 0, 0.85);
$ui-clr: rgba(255, 251, 240, 0.9);
$school-p: rgba(51, 39, 0, 0.7);
$learning-clr: rgba(51, 39, 0, 0.9);
$uitext-clr: rgba(255, 251, 240, 0.7);
$funabtext-clr: rgba(255, 251, 240, 0.8);
$services-bg: #f7f2e599;