$card-shadow: 0 0 4px rgba(0,0,0,0.1), 0 0 6px rgba(0,0,0,0.2);
$card-border: 20px;
$card-width: 346px;
$card-height: 405px;
$letterspace: 0.01em;
$fnt-weight: 500;
$sch-pad-top: 21px;
$sch-pad-text: 6px;
$flex: flex;
$align: center;
$plat-width: 52px;
$plat-height: 52px;
$border-rad: 50%;